@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

body {
    width:100vw;
    height:fit-content;
    margin:0px;
    overflow-x:hidden;
    background:rgb(25, 25, 25);
}

/* Loading Page */
#loading-Screen {
    width:100vw;
    height:auto;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    background:rgb(25, 25, 25);
    opacity:0;
}

#load-Screen-Main-Container {
    width:calc(100vw - 50px);
    max-width: 500px;
    height:fit-content;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap: 5px;
}

#loading-Img-Container {
    width:100px;
    height:100px;
    border-radius: 100%;
    overflow:hidden;
    position:relative;
    z-index: 1;
}

#blur-Loading-Img {
    width:500px;
    height:500px;
    border-radius: 100%;
    filter: blur(4rem);
    overflow:hidden;
    position:absolute;
    z-index: 0;
}

#loading-Img {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
}

#loading-Name {
    z-index: 1;
    position:relative;
    font-size: 35px;
    color:white;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

#loading-Project-Title {
    z-index: 1;
    position:relative;
    font-size: 20px;
    color:rgb(150, 150, 150);
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

#loading-Percentage-Animation-Container {
    width:350px;
    height:16px;
    border-radius: 25px;
    background:rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1rem);
    padding:5px;
    position:relative;
    display:flex;
    align-items: center;
    gap: 2px;
}

#loading-Bar {
    position:absolute;
    left:5px;
    width:calc(0% - 10px);
    height:calc(100% - 10px);
    background:white;
    border-radius: 20px;
    opacity: 0;
}

@keyframes load {
    0% {
        --my-value:0%;
        opacity: 0;
        width:calc(0% - 10px);
    }

    25% { 
        opacity: 1;
    }

    100% {
        width:calc(100% - 10px);
        opacity: 1;
    }
}

/* Main Page */
#main-Page {
    width:calc(100vw - 50px);
    max-width:1100px;
    height:fit-content;
    min-height: calc(100vh - 115px);
    overflow-y: scroll;
    overflow-x: hidden;
    background:transparent;
    color:white;
    position:relative;
    margin-top: 25px;
    left:50%;
    transform:translate(-50%);
    opacity:0;
    padding:30px;
    border-radius: 15px;
    background:rgb(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

#name-Grade-Description-Container {
    width:220px;
    height:fit-content;
    padding:15px;
    background:rgb(0, 0, 0, 0.1);
    border-radius: 15px;
    display:flex;
    justify-content: left;
    align-items:center;
    flex-direction: column;
    position:relative;
}

#name {
    text-align: left;
    width:100%;
    font-size: 17px;
    font-weight: 900;
    margin-left: 120px;
}

#grade {
    width:100%;
    font-size: 15px;
    font-weight: 600;
    color:rgb(150, 150, 150);
    margin-left: 120px;
}

#description {
    margin-top: 15px;
    font-weight: 800;
}

#profile-Img-Container {
    position:absolute;
    top:10px;
    left:15px;
    overflow:hidden;
    width:50px;
    height:50px;
    border-radius: 100%;
}

#profile-Img {
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
}

#section-Containers {
    width:calc(100% - 330px);
    background:transparent;
    height:fit-content;
    /* min-height: 500px; */
    position:absolute;
    top:30px;
    right:30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.project-Section {
    background:rgb(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 16px;
    text-align: center;
    height:fit-content;
    cursor: pointer;
    transition: .25s;
}

.project-Section:hover {
    background:rgb(0, 0, 0, 0.5);
    transition: .25s;
}

.project-Titles {
    width:100%;
    font-size: 19px;
    font-weight: 900;
    text-align: left;
}

#folder-Opened-Container {
    margin-top: 50px;
}

/* Scroll Bar Style */
::-webkit-scrollbar {
    width:0px;
    height:0px;
}